<div id="init-ldg-container1" class="init-ldg-spinner">
    <div class="init-ldg-circle1"></div>
    <div class="init-ldg-circle2"></div>
    <div class="init-ldg-circle3"></div>
    <div class="init-ldg-circle4"></div>
</div>
<div id="init-ldg-container2" class="init-ldg-spinner">
    <div class="init-ldg-circle1"></div>
    <div class="init-ldg-circle2"></div>
    <div class="init-ldg-circle3"></div>
    <div class="init-ldg-circle4"></div>
</div>
<div id="init-ldg-container3" class="init-ldg-spinner">
    <div class="init-ldg-circle1"></div>
    <div class="init-ldg-circle2"></div>
    <div class="init-ldg-circle3"></div>
    <div class="init-ldg-circle4"></div>
</div>
